# In which mode the service is operating, has to be one of UDP_CLIENT, UDP_SERVER, TCP_CLIENT or TCP_SERVER
NSC3_TEAM_BRIDGE_SERVICE_OPERATE_MODE=$TBMODE_CLIENT
# Address where the packets are assigned to ...
## Client: Public IP address of team-bridge server
## Server: Docker container name of team-bridge server e.g nsc-team-bridge-service
NSC3_TEAM_BRIDGE_SERVICE_SOCKET_ADDRESS=$TBSERVERIP
# Port used for traffic, has to match the container port given to docker run
NSC3_TEAM_BRIDGE_SERVICE_SOCKET_PORT=64660
# Client: Comma-separated list of organization ID strings as live traffic sources
NSC3_TEAM_BRIDGE_SERVICE_CLIENT_ORG_SRC_LIST=$SOURCEORG
# Server: Comma-separated key>value -map of organization ID source>destination pairs
# for mapping incoming live traffic into existing local organizations, for example:
# NSC3_TEAM_BRIDGE_SERVICE_SERVER_ORG_DEST_MAP=sourceOrgId>destinationOrgId
# Byte amount the payload is split into. Only effective for client in UDP mode
NSC3_TEAM_BRIDGE_SERVICE_DATAGRAM_CHUNK_SIZE_BYTES=1200
