### ReleaseTagStart latest
# This is for nsc3 version 3.4 and later
version: "2.2"
services:
  main-postgres:
    container_name: main-postgres
    image: $NSC3REG/main-postgres:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.2"
    restart: unless-stopped
    volumes:
      - main-postgres-volume:/var/lib/postgresql/data:rw
    working_dir: /root
  user-postgres:
    container_name: user-postgres
    image: $NSC3REG/user-postgres:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.4"
    restart: unless-stopped
    volumes:
      - user-postgres-volume:/var/lib/postgresql/data:rw
    working_dir: /root
  bus-redis:
    container_name: bus-redis
    image: $NSC3REG/bus-redis:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.3"
    restart: unless-stopped
    volumes:
      - bus-redis-volume:/data:rw
    working_dir: /root
  nsc-scheduler-service:
    container_name: nsc-scheduler-service
    image: $NSC3REG/nsc-scheduler-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.14"
  nsc-auth-service:
    container_name: nsc-auth-service
    image: $NSC3REG/nsc-auth-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.5"
    restart: unless-stopped
    working_dir: /root
  nsc-stream-in-service:
    container_name: nsc-stream-in-service
    image: $NSC3REG/nsc-stream-in-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.6"
    restart: unless-stopped
    working_dir: /root
  nsc-live-service:
    container_name: nsc-live-service
    image: $NSC3REG/nsc-live-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.7"
    restart: unless-stopped
    working_dir: /root
  nsc-comms-service:
    container_name: nsc-comms-service
    image: $NSC3REG/nsc-comms-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.9"
    restart: unless-stopped
    working_dir: /root
  nsc-playback-service:
    container_name: nsc-playback-service
    image: $NSC3REG/nsc-playback-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.10"
    restart: unless-stopped
    working_dir: /root
  nsc-network-stream-service:
    container_name: nsc-network-stream-service
    image: $NSC3REG/nsc-network-stream-service:$NSC3REL
    ipc: private
    cpus: 2.0
    mem_limit: 4096M
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.17"
    restart: unless-stopped
    working_dir: /root
  nsc-aar-worker:
    container_name: nsc-aar-worker
    image: $NSC3REG/nsc-aar-worker:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.11"
    restart: unless-stopped
  web-nginx:
    container_name: web-nginx
    image: $NSC3REG/web-nginx:$NSC3REL
    logging:
      driver: "json-file"
      options:
        max-file: "20"
        max-size: "100m"
        mode: "non-blocking"
    networks:
      nsc-network:
        ipv4_address: "172.18.0.8"
    working_dir: /root
  map-service:
    container_name: map-service
    image: $NSC3REG/map-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.12"
    restart: unless-stopped
    volumes:
      - $NSCHOME/mapdata:/data
    command: ["-p", "80", "-u", "https://$PUBLICIP/mapserver/"]
    working_dir: /data
  nsc-gateway:
    container_name: nsc-gateway
    image: $NSC3REG/nsc-gateway:$NSC3REL
    logging:
      driver: "json-file"
      options:
        max-file: "20"
        max-size: "100m"
        mode: "non-blocking"
    networks:
      nsc-network:
        ipv4_address: "172.18.0.13"
    ports:
      - "1935:1935/tcp"
      - "1936:1936/tcp"
      - "25204:25204/tcp"
      - "25205:25205/tcp"
      - "25206:25206/tcp"
      - "443:443/tcp"
    restart: unless-stopped
    volumes:
      - $NSCHOME/nsc-gateway-cert:/mnt/cert 
  nsc-minio:
    container_name: nsc-minio
    image: $NSC3REG/nsc-minio:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.16"
    restart: unless-stopped
    volumes:
      - minio-volume:/data:rw
    command: ['server', '/data']
  rtmp-server:
    container_name: rtmp-server
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    image: $NSC3REG/rtmp-server:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.20"
    restart: unless-stopped
networks:
  nsc-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.18.0.0/24"
volumes:
  main-postgres-volume:
    name: main-postgres-volume
  user-postgres-volume:
    name: user-postgres-volume 
  bus-redis-volume:
    name: bus-redis-volume
  minio-volume:
    name: minio-volume
### ReleaseTagEnd latest
### ReleaseTagStart release-3.3
# This is for nsc3 version 3.3 and later
version: "2.2"
services:
  main-postgres:
    container_name: main-postgres
    image: $NSC3REG/main-postgres:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.2"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/main-postgres:/var/log/postgresql:rw
      - main-postgres-volume:/var/lib/postgresql/data:rw
    working_dir: /root
  user-postgres:
    container_name: user-postgres
    image: $NSC3REG/user-postgres:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.4"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/user-postgres:/var/log/postgresql:rw
      - user-postgres-volume:/var/lib/postgresql/data:rw
    working_dir: /root
  bus-redis:
    container_name: bus-redis
    image: $NSC3REG/bus-redis:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.3"
    restart: unless-stopped
    volumes:
      - bus-redis-volume:/data:rw
    working_dir: /root
  utilities-dbupdater:
    container_name: utilities-dbupdater
    image: $NSC3REG/utilities-dbupdater:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.14"
  nsc-auth-service:
    container_name: nsc-auth-service
    image: $NSC3REG/nsc-auth-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.5"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-auth-service:/usr/local/tomcat/logs:rw
      - /dev/urandom:/dev/random:rw
    working_dir: /root
  nsc-stream-in-service:
    container_name: nsc-stream-in-service
    image: $NSC3REG/nsc-stream-in-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.6"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-stream-in-service:/usr/local/tomcat/logs:rw
    working_dir: /root
  nsc-live-service:
    container_name: nsc-live-service
    image: $NSC3REG/nsc-live-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.7"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-live-service:/usr/local/tomcat/logs:rw
    working_dir: /root
  nsc-comms-service:
    container_name: nsc-comms-service
    image: $NSC3REG/nsc-comms-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.9"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-comms-service:/usr/local/tomcat/logs:rw
      - /dev/urandom:/dev/random:rw
    working_dir: /root
  nsc-playback-service:
    container_name: nsc-playback-service
    image: $NSC3REG/nsc-playback-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.10"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-playback-service:/usr/local/tomcat/logs:rw
    working_dir: /root
  nsc-network-stream-service:
    container_name: nsc-network-stream-service
    image: $NSC3REG/nsc-network-stream-service:$NSC3REL
    ipc: private
    cpus: 2.0
    mem_limit: 4096M
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.17"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-network-stream-service:/usr/local/tomcat/logs:rw
    working_dir: /root
  nsc-aar-worker:
    container_name: nsc-aar-worker
    image: $NSC3REG/nsc-aar-worker:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.11"
    restart: unless-stopped
    volumes:
      - $NSCHOME/logs/nsc-aar-worker:/usr/local/tomcat/logs:rw
  web-nginx:
    container_name: web-nginx
    image: $NSC3REG/web-nginx:$NSC3REL
    logging:
      driver: "json-file"
      options:
        max-file: "20"
        max-size: "100m"
        mode: "non-blocking"
    networks:
      nsc-network:
        ipv4_address: "172.18.0.8"
    working_dir: /root
  map-service:
    container_name: map-service
    image: $NSC3REG/map-service:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.12"
    restart: unless-stopped
    volumes:
      - $NSCHOME/mapdata:/data
    command: ['--public_url', 'https://$PUBLICIP/mapserver/']
    working_dir: /data
  nsc-gateway:
    container_name: nsc-gateway
    image: $NSC3REG/nsc-gateway:$NSC3REL
    logging:
      driver: "json-file"
      options:
        max-file: "20"
        max-size: "100m"
        mode: "non-blocking"
    networks:
      nsc-network:
        ipv4_address: "172.18.0.13"
    ports:
      - "1935:1935/tcp"
      - "1936:1936/tcp"
      - "25204:25204/tcp"
      - "25205:25205/tcp"
      - "25206:25206/tcp"
      - "443:443/tcp"
    restart: unless-stopped
    volumes:
      - $NSCHOME/nsc-gateway-cert:/mnt/cert 
  nsc-minio:
    container_name: nsc-minio
    image: $NSC3REG/nsc-minio:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.16"
    restart: unless-stopped
    volumes:
      - minio-volume:/data:rw
    command: ['server', '/data']
  rtmp-server:
    container_name: rtmp-server
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    image: $NSC3REG/rtmp-server:$NSC3REL
    logging:
      driver: "json-file"
      options: {}
    networks:
      nsc-network:
        ipv4_address: "172.18.0.20"
    restart: unless-stopped
networks:
  nsc-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.18.0.0/24"
volumes:
  main-postgres-volume:
    name: main-postgres-volume
  user-postgres-volume:
    name: user-postgres-volume 
  bus-redis-volume:
    name: bus-redis-volume
  minio-volume:
    name: minio-volume
### ReleaseTagEnd release-3.3
