    nsc-team-bridge-service-client-udp:
        env_file:
            - nsc-team-bridge-service-client-udp.env
        container_name: nsc-team-bridge-service-client-udp
        networks:
            nsc-network:
