  nsc-team-bridge-service-client-udp:
    image: $NSC3REG/nsc-team-bridge-service:$NSC3REL
    env_file:
        - nsc-team-bridge-service-client-udp.env
    container_name: nsc-team-bridge-service-client-udp
    networks: nsc-network
