    nsc-team-bridge-service-client-tcp:
        env_file:
            - nsc-team-bridge-service-client-tcp.env
        container_name: nsc-team-bridge-service-client-tcp
        networks:
            nsc-network:
        volumes:
            - ./deploy-files/bridgekeys/:/opt/nsc3/bridgekeys
