### ReleaseTagStart latest
# This is for nsc3 version 3.15 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks: 
      - nsc-network
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks: 
      - nsc-network
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks: 
      - nsc-network
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd latest
### ReleaseTagStart rc
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks: 
      - nsc-network
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks: 
      - nsc-network
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks: 
      - nsc-network
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd rc
### ReleaseTagStart release-3.15
# This is for nsc3 version 3.15 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks: 
      - nsc-network
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:valor-bus-clean-install-hotfix
    runtime: nvidia
    networks: 
      - nsc-network
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks: 
      - nsc-network
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.15
### ReleaseTagStart release-3.14
# This is for nsc3 version 3.14 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus::valor-bus-clean-install-hotfix
    runtime: nvidia
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.14
### ReleaseTagStart release-3.13
# This is for nsc3 version 3.13 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service::valor-bus-clean-install-hotfix
    environment:
        - MEMORY="8g"
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.13
### ReleaseTagStart release-3.11
# This is for nsc3 version 3.10 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.11
### ReleaseTagStart release-3.10.1
# This is for nsc3 version 3.11 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.10.1
### ReleaseTagStart release-3.10
# This is for nsc3 version 3.10 and later
version: "2.3"
services:
  valor-postgres:
    container_name: valor-postgres
    image: $NSC3REG/valor-postgres:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - valor-postgres-volume-15:/var/lib/postgresql/data:rw
  nsc-valor-bus:
    container_name: nsc-valor-bus
    image: $NSC3REG/nsc-valor-bus:$NSC3REL
    runtime: nvidia
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "valor-postgres"
    restart: unless-stopped
    volumes:
        - nsc-valor-bus-volume:/data:rw
  nsc-valor-tasker-service:
    container_name: nsc-valor-tasker-service
    image: $NSC3REG/nsc-valor-tasker-service:$NSC3REL
    environment:
        - MEMORY="8g"
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  valor-postgres-volume-15:
    name: valor-postgres-volume-15
  nsc-valor-bus-volume:
    name: nsc-valor-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.10
### ReleaseTagStart release-3.9
# This is for nsc3 version 3.9 and later
version: "2.3"
services:
  nsc-analytics-db:
    container_name: nsc-analytics-db
    image: $NSC3REG/nsc-analytics-db:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - analytics-postgres-volume:/var/lib/postgresql/data:rw
  nsc-analytics-bus-gpu:
    container_name: nsc-analytics-bus-gpu
    image: $NSC3REG/nsc-analytics-bus-gpu:$NSC3REL
    runtime: nvidia
    environment:
        - PYTHONUNBUFFERED=1
        - NVIDIA_VISIBLE_DEVICES=all
        - NVIDIA_DRIVER_CAPABILITIES=all
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "nsc-analytics-db"
    restart: unless-stopped
    volumes:
        - analytics-bus-volume:/data:rw
  nsc-analytics-cookbook:
    container_name: nsc-analytics-cookbook
    image: registrynsion.azurecr.io/nsc-analytics-cookbook:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.24"
    environment:
        - MODELRUNNER_DEVICE=GPU
        - RECIPE_NAMES=yolo
    depends_on:
        - "nsc-analytics-bus-gpu"
  nsc-analytics-tasker-service:
    container_name: nsc-analytics-tasker-service
    image: $NSC3REG/nsc-analytics-tasker-service:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  analytics-postgres-volume:
    name: analytics-postgres-volume
  analytics-bus-volume:
    name: analytics-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.9
### ReleaseTagStart release-3.8
# This is for nsc3 version 3.8 and later
version: "2.3"
services:
  nsc-analytics-db:
    container_name: nsc-analytics-db
    image: $NSC3REG/nsc-analytics-db:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - analytics-postgres-volume:/var/lib/postgresql/data:rw
  nsc-analytics-bus-gpu:
    container_name: nsc-analytics-bus-gpu
    image: $NSC3REG/nsc-analytics-bus-gpu:$NSC3REL
    runtime: nvidia
    environment:
        - PYTHONUNBUFFERED=1
        - NVIDIA_VISIBLE_DEVICES=all
        - NVIDIA_DRIVER_CAPABILITIES=all
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "nsc-analytics-db"
    restart: unless-stopped
    volumes:
        - analytics-bus-volume:/data:rw
  nsc-analytics-cookbook:
    container_name: nsc-analytics-cookbook
    image: registrynsion.azurecr.io/nsc-analytics-cookbook:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.24"
    environment:
        - MODELRUNNER_DEVICE=GPU
        - RECIPE_NAMES=yolo
    depends_on:
        - "nsc-analytics-bus-gpu"
  nsc-analytics-tasker-service:
    container_name: nsc-analytics-tasker-service
    image: $NSC3REG/nsc-analytics-tasker-service:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  analytics-postgres-volume:
    name: analytics-postgres-volume
  analytics-bus-volume:
    name: analytics-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.8
### ReleaseTagStart release-3.7
# This is for nsc3 version 3.7 and later
version: "2.3"
services:
  nsc-analytics-db:
    container_name: nsc-analytics-db
    image: $NSC3REG/nsc-analytics-db:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - analytics-postgres-volume:/var/lib/postgresql/data:rw
  nsc-analytics-bus-gpu:
    container_name: nsc-analytics-bus-gpu
    image: $NSC3REG/nsc-analytics-bus-gpu:$NSC3REL
    runtime: nvidia
    environment:
        - PYTHONUNBUFFERED=1
        - NVIDIA_VISIBLE_DEVICES=all
        - NVIDIA_DRIVER_CAPABILITIES=all
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "nsc-analytics-db"
    restart: unless-stopped
    volumes:
        - analytics-bus-volume:/data:rw
  nsc-analytics-cookbook:
    container_name: nsc-analytics-cookbook
    image: registrynsion.azurecr.io/nsc-analytics-cookbook:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.24"
    environment:
        - MODELRUNNER_DEVICE=GPU
        - RECIPE_NAMES=yolo
    depends_on:
        - "nsc-analytics-bus-gpu"
  nsc-analytics-tasker-service:
    container_name: nsc-analytics-tasker-service
    image: $NSC3REG/nsc-analytics-tasker-service:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  analytics-postgres-volume:
    name: analytics-postgres-volume
  analytics-bus-volume:
    name: analytics-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.7
### ReleaseTagStart release-3.6
# This is for nsc3 version 3.6 and later
version: "2.3"
services:
  nsc-analytics-db:
    container_name: nsc-analytics-db
    image: $NSC3REG/nsc-analytics-db:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.23"
    restart: unless-stopped
    volumes:
        - analytics-postgres-volume:/var/lib/postgresql/data:rw
  nsc-analytics-bus-gpu:
    container_name: nsc-analytics-bus-gpu
    image: $NSC3REG/nsc-analytics-bus-gpu:$NSC3REL
    runtime: nvidia
    environment:
        - PYTHONUNBUFFERED=1
        - NVIDIA_VISIBLE_DEVICES=all
        - NVIDIA_DRIVER_CAPABILITIES=all
    networks:
        nsc-network:
            ipv4_address: "172.18.0.21"
    depends_on:
        - "nsc-analytics-db"
    restart: unless-stopped
    volumes:
        - analytics-bus-volume:/data:rw
  nsc-analytics-cookbook:
    container_name: nsc-analytics-cookbook
    image: registrynsion.azurecr.io/nsc-analytics-cookbook:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.24"
    environment:
        - MODELRUNNER_DEVICE=GPU
        - RECIPE_NAMES=yolo
    depends_on:
        - "nsc-analytics-bus-gpu"
  nsc-analytics-tasker-service:
    container_name: nsc-analytics-tasker-service
    image: $NSC3REG/nsc-analytics-tasker-service:$NSC3REL
    networks:
        nsc-network:
            ipv4_address: "172.18.0.22" 
volumes:
  analytics-postgres-volume:
    name: analytics-postgres-volume
  analytics-bus-volume:
    name: analytics-bus-volume
networks:
  nsc-network:
    external:
      name: "nsc-network"
### ReleaseTagEnd release-3.6
